body {
  background-color: white;
  font-size: 1.25em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small,
.font_small {
  font-size: 0.707em;
}

.note {
  position: relative;
  padding: 20px;
  color: white;
  overflow: hidden;
}

.note:hover:after {
  border-width: 0 24px 24px 0;
}

.note:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: border-width 0.5s ease;
  transition: border-width 0.5s ease;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: none;
  padding: none;
}

h2 {
  margin: 0;
}

.timeline-holder {
  position: absolute;
  overflow-x: auto;
  width: auto;
  left: 0;
}

.timeline {
  background: #EEE;
  width: 200%;
  padding: 20px 0;
}

.day {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 100%;
  border-left: 1px solid #333;
  position: relative;
  text-align: center;
}

.day:nth-child(1) {
  border-left: none;
}

.day a {
  top: 1.25em;
  right: 2px;
  bottom: 0;
  left: 2px;
  display: block;
  position: absolute;
  padding: 2px;
  border-radius: 5px;
  color: white;
  text-align: center;
  line-height: 100%;
  text-decoration: none;
}

.day a.tt {
  background: #ff851b;
}

.day a.tt:after {
  content: "tt";
}

.day a.tt:hover {
  background: #b45400;
}

.day a.du {
  background: #7fdbff;
}

.day a.du:after {
  content: "du";
}

.day a.du:hover {
  background: #19beff;
}

.note {
  display: none;
  position: absolute;
  top: 100px;
  width: 400px;
  margin-left: -200px;
  left: 50%;
  z-index: 1000;
}

.note .close-btn {
  border: none;
  background: white;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.note.tt {
  background: #ff851b;
}

.note.tt:after {
  border-color: #ffa04e white;
}

.note.du {
  background: #7fdbff;
}

.note.du:after {
  border-color: #b2e9ff white;
}

.note.active {
  display: block;
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 999;
  display: none;
}

.note.active + .cover {
  display: block;
}

.timeline .day:nth-child(0):before {
  content: "0";
}

.timeline .day:nth-child(1):before {
  content: "1";
}

.timeline .day:nth-child(2):before {
  content: "2";
}

.timeline .day:nth-child(3):before {
  content: "3";
}

.timeline .day:nth-child(4):before {
  content: "4";
}

.timeline .day:nth-child(5):before {
  content: "5";
}

.timeline .day:nth-child(6):before {
  content: "6";
}

.timeline .day:nth-child(7):before {
  content: "7";
}

.timeline .day:nth-child(8):before {
  content: "8";
}

.timeline .day:nth-child(9):before {
  content: "9";
}

.timeline .day:nth-child(10):before {
  content: "10";
}

.timeline .day:nth-child(11):before {
  content: "11";
}

.timeline .day:nth-child(12):before {
  content: "12";
}

.timeline .day:nth-child(13):before {
  content: "13";
}

.timeline .day:nth-child(14):before {
  content: "14";
}

.timeline .day:nth-child(15):before {
  content: "15";
}

.timeline .day:nth-child(16):before {
  content: "16";
}

.timeline .day:nth-child(17):before {
  content: "17";
}

.timeline .day:nth-child(18):before {
  content: "18";
}

.timeline .day:nth-child(19):before {
  content: "19";
}

.timeline .day:nth-child(20):before {
  content: "20";
}

.timeline .day:nth-child(21):before {
  content: "21";
}

.timeline .day:nth-child(22):before {
  content: "22";
}

.timeline .day:nth-child(23):before {
  content: "23";
}

.timeline .day:nth-child(24):before {
  content: "24";
}

.timeline .day:nth-child(25):before {
  content: "25";
}

.timeline .day:nth-child(26):before {
  content: "26";
}

.timeline .day:nth-child(27):before {
  content: "27";
}

.timeline .day:nth-child(28):before {
  content: "28";
}

.timeline .day:nth-child(29):before {
  content: "29";
}

.timeline .day:nth-child(30):before {
  content: "30";
}