@import 'palette';
@import 'typo';
@import 'note';
$days: 0;
//palette
@mixin popup-type($color,$content) {
  background: $color;
  &:after{
    content: $content;
  }
  &:hover{
    background: darken($color,20);
  }
}
*{
	box-sizing: border-box;
	margin: none;
	padding: none;
}
h1{
  color: $gray;
  text-transform: uppercase;
  font-size: 2.5em;
}

h2{
  color: white;
  margin: 0;
}
p{
  margin: 0;
}
#main-container{
  transition: all 0.2s ease; /* prefix me */
  &.active{
    /* Blur and de-color */
    filter: blur(3px) grayscale(50%);
    /* Recede */
    transform: scale(0.98);
  }
}
.timeline-holder{
  position: absolute;
  overflow-x: auto;
  width: auto;
  left: 0;
}
.timeline{
  background: #EEE;
  width: 200%;
  padding: 20px 0;
}
.day{
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 100%;
	border-left: 1px solid #333;
	position: relative;
	text-align: center;
  &:nth-child(1){
    border-left: none;
  }
  a{
    top: 1.25em;
    right: 2px;
    bottom: 0;
    left: 2px;
    display: block;
    position: absolute;
    padding: 2px;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    &.tt{
        @include popup-type($orange,'tt');
    }
    &.du{
        @include popup-type($aqua,'du');
    }
  }

}
.note{
  display: block;
  position: absolute;
  left:-1000px;
  top: 100px;
  width: 400px;
  margin-left: -200px;
  z-index: 1000;
  transition: opacity, transform 0.2s ease; /* prefix me */
  transform: scale(0.5);
  opacity: 0;
  &.active{
    left: 50%;
    opacity: 1;
    transform: scale(1);

  }
  .close-btn{
    background: rgba(255,255,255,.25);
    display: block;
    color: $black;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-family: $rounded;
    text-align: right;
    float: right;
    &:hover{
      background: rgba(255,255,255,.5);
      color: $black;
    }

  }
}
.note.tt{
  background: $orange;
  &:after{
      border-color: lighten($orange, 10) #fff;
  }

}
.note.du{
  background: $aqua;
  &:after{
      border-color: lighten($aqua, 10) #fff;
  }
}

.cover{
  content:"";
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.25);
  z-index: 999;
  display: none;
  &.active{
    display: block;

  }
  
}


@while $days <31  {
  .timeline .day:nth-child(#{$days}):before{
  	content: "#{$days}";
  }
  $days: $days+1;
}
